@import "./horizontal-thumb-slider";
@import "./home-slider";
@import "./movie-slider";
@import "./vertical-thumb-slider";
@import "./tab-thumb-slider";


.playbtn {
    display: block;
    transition: all 0.5s ease;
    text-align: center;

    .triangle {
        transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: var(--bs-white);
        transform: translateY(0);
    }

    .circle {
        stroke: var(--bs-white);
        stroke-dasharray: 650;
        stroke-dashoffset: 1300;
        transition: all 0.5s ease-in-out;
    }

    span {
        color: var(--bs-white);
    }

    &:hover {
        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: var(--bs-primary);
            animation: trailorPlay 0.7s ease-in-out;
        }

        .circle {
            stroke-dashoffset: 0;
            stroke: var(--bs-primary);
        }

        span {
            color: var(--bs-primary);
        }
    }
}

.w-trailor {
    font-size: 1.25em;
    letter-spacing: 0.21875em;
    margin-left: 0.9375em;
    vertical-align: middle;
}

.banner-list {
    li {
      padding: 0 30px;
      margin-right: 80px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

.banner-subtitle {
    font-weight: $font-weight-semibold;
    padding: 12px 0;
    border: 0.0625rem solid;
    border-width: 0 0 0.0625rem 0;
    border-image-source: linear-gradient(90deg,
            rgba(229, 9, 20, 0),
            var(--bs-primary),
            rgba(229, 9, 20, 0));
    border-image-slice: 1;
    letter-spacing: 0.9px;
}

.banner-big-font {
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.0625rem;
    margin: 24px 0 32px 0;
}

@media (max-width: 1024) {
    .banner-big-font {
        font-size: 2.5rem;
    }

    .banner-list {
        li {
            margin-right: 40px;
        }
    }
}

@media (max-width: 767px) {
    .banner-big-font {
        font-size: 2rem;
    }

    .banner-list {
        li {
            margin-right: 0;
        }
    }
}